/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */

body{
    padding: 0;
    margin: 0;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
a{
    text-decoration: none;
    color: inherit;
  }
/* 헤더 */
.header{
    /* position: fixed; */
    position: sticky; 
    top: 0; 
    background-color: #fff;
    /* background-color: rgb(169, 202, 245); */
    width: auto;
    height: 70px;
    padding: 25px 30px;
    z-index: 10;
    /* display: flex;
    justify-content: space-between;
    플랙스로 해도 정렬이 되긴 하나 플로트로 한번 더 해볼것 */
}
.logo{
    display: inline-block;
    /* background-color: yellow; */
    margin: 0;
    padding: 27.5px 20px;
    line-height: 0;
    /* margin-left: 74px; */
}
.home-menu{
    display: block;
    /* background-color: pink; */
    float: right;
    margin: auto 0;
    padding: 10px 20px;
    /*라인 하이츠로 로고와 높이 맞추고 가운데 정렬 맞추기 */
    line-height: 50px;
    color: #055cf5;
    font-size: 11px;
    font-weight: 600;
}

/* 비주얼 */
.morepage-visual{
    /* 666고정 말고 반응형 가능하게 수정 */
     height: 666px;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    background-image: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url(../img-logo/visual.jpg);
    /* background-color: blue; */
    background-position: 50% 50%; 
    /* 이미지가 잘 보이게 줄어드는 반응형 백그라운드 포지션으로 조절가능*/
}
/* .morepage-visual img{
    background-image: url("./img-logo/visual.jpg");
    width: 100%;
    height: initial;
    opacity: 50%;
} */
.morepage-visual h2{
    /* ???마진 오토 가운데 정렬 왜 안되는지 */
    margin: 180px auto 90px auto;
    color: #fff;
    font-size: 60px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}

/* 메인 */
.main-container{
    /* background-color: lightgray; */
    /* padding: 0 170px; */
    width: 940px;
    margin: 0 auto;
}
.main-container p{
    margin: 0;
    padding: 0;
}

/* 메뉴 */
.morepage-submenu{
    margin: 0;
    padding: 35px 0 0 0;
}
/* 플랙스로 고쳐볼것 */
.morepage-submenu li{
    display: inline-block;
    list-style: none;
    padding: 9px 30px 11px 30px;
    margin: 0;
    color: rgba(50, 52, 58, 0.5);
    font-weight: bold;
    color: #222222;
    font-size: 16px;
    line-height: 28px;
}
/* 박스 1픽셀 영향 안받도록 수정함 */
.morepage-submenu li:hover{
    color: rgb(143, 143, 143);
    border-bottom: 1px solid #222222;
    padding: 9px 30px 10px 30px;
}

/* 리스트 */
.morepage-list-items{
    /* background-color: yellowgreen; */
    margin-top: 25px;
    /* width: 800px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.morepage-list-items a:last-child{
    margin-right: auto;
    /* flex-grow: 1; */
    margin-left: 20px;
    /* 스페이스 비트윈 문제 해결 방법! */
}
.morepage-list-items img{
    /* display: block;
    vertical-align: top;
    이미지 밑에 2px 공백 문제 해결 */
    width: 300px;
    height: 200px;
}
.morepage-list-items p{
    display: flex;
    justify-content: center;
    /* ? */
    /* background-color: pink; */
    font-size: 20px;
    color: #1a1b1f;
    line-height: 34px;
    font-weight: 400;
    padding: 16px 0 24px 0;
    /* text-align: center; */
}
.morepage-list-items div{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #1a1b1f;
    font-weight: 400;
}
.morepage-list-items p:hover{
    opacity: 70%;
}
/* 푸터 */
.footer{
    background-color: rgb(224, 252, 193);
    margin: 0;
    padding: 40px 50px;
}
.footer div{
    display: flex;
    justify-content: space-between;
}
.footer address{
    display: inline-block;
    background-color: lime;
    opacity: 0.5;
    letter-spacing: -0.13px;
    color: rgba(26, 27, 31, 0.5);
    line-height: 20px;
    font-size: 12.5px;
    font-style: normal;
    max-width: 450px;
}
footer address:hover{
    opacity: 100%;
}
.footer ul{
    /* float: right; 
    이거때문에 클리어 픽스를 넣었다가 flex에서 스페이스 비트윈이
    에프터영역이 있다고 인식하여 안 먹었었다. */
    background-color: yellow;
    margin: 0;
    padding: 30px 0;
    display: flex;
}
.footer li{
    padding: 0 20px;
    list-style: none;
    color: #1a1b1f;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    opacity: 0.6;
}
/* ???
    .footer address, .footer ul{
    vertical-align: middle;
} */
footer li:hover{
    opacity: 100%;
}